:root{
    --darkmode: #0b0b0b;
    --textdarkmode: #006593;
    --background-item:#101519;
}
body{
    background-color: var(--darkmode);
}
#menu-contain{
    text-decoration: none;
    align-items: center;
}
#menu-contain ul {
    display: flex;
    text-decoration: none;

}
#menu-contain ul li{
    font-size: 25px;
    text-decoration: none;
    padding: 1.8rem;
    margin: 0.5rem;
    list-style: none;
    background-color: #1c1c1c;
    opacity: 52%;
   
    border-color: var(--background-item);
    border-radius: 20px;
}
.contain-calculator{
    background-color: #00649318;
    position: absolute;
    padding: 23px;
    border-radius: 24px;
    border: solid var(--textdarkmode);
}
#menu-contain ul li a{
    text-decoration: none;

}
#menu-contain ul li a:hover{
    color:  var(--textdarkmode);
    
}
.btn{
    font-size: 25px;
    text-decoration: none;
    padding: 1.8rem;
    margin: 0.5rem;
    list-style: none;
    background-color: #1c1c1c;
    opacity: 32%;
    color: white;
}
.btn:hover{
    background-color: #006593;
}
button{
    border: solid;
    border-radius: 20px;
    width: 2.3rem;
    height: 3.2rem;
}
#class-btn-calculator{
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 0.1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1px; /* Espaçamento entre os itens */
}
#class-btn-calculator textarea{
    font-size: 32px;
}
#class-btn-calculator textarea{
    font-size: 32px;
}
.foot-copy{
    text-align: center;
    color: white;
    bottom: auto;
}
.foot-copy a{
    text-decoration: none;
}
textarea{
    width: 20rem;
    height: 2.3rem;
    font-display: 1.2rem;
    font-size: 23px;
    border: solid;
    background-color: var(--background-item);
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 23px;
}
/* opções para text-area*/
textarea{
   resize: none;
   list-style: none;
}
textarea:hover{
    background-color: #091c2c;

}

